{% extends "_layout/_baseLayout.njk" %}

{% block body %}
  <!-- Post Content-->
  <article class="mb-4">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                    <div>{{ post.content | safe }}</div>
                    <a href="#!"><img class="img-fluid" src="/images/{{ post.image }}" alt="{{ post.title }}" /></a>
                  </p>
              </div>
          </div>
      </div>
  </article>
{% endblock %}